#content pre {
    cursor: text;
    outline: none;
    border-radius: 5px;
    margin-bottom: 1rem !important;
}

#content pre code {
    outline: none;
    display: block;
    /* 代码自动换行 */
    white-space: pre-wrap;
    word-wrap: break-word;
}

#content .language-css .token.string,
#content .style .token.string,
#content .token.entity,
#content .token.operator,
#content .token.url {
    background: none;
}


/* 以下样式来自：mdnice.com */

/* 标题 */
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 0px;
    font-weight: bold;
    color: black;
}

#content h1 {
    font-size: 24px;
}

#content h2 {
    font-size: 22px;
}

#content h3 {
    font-size: 20px;
}

#content h4 {
    font-size: 18px;
}

#content h5 {
    font-size: 16px;
}

#content h6 {
    font-size: 16px;
}

/* 列表 */
#content ul,
#content ol {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 25px;
    color: black;
}

#content ul {
    list-style-type: disc;
}

#content ul ul {
    list-style-type: square;
}

#content ol {
    list-style-type: decimal;
}

#content li section {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 26px;
    text-align: left;
    color: rgb(1, 1, 1);
    /* 只要是纯黑色微信编辑器就会把color这个属性吞掉。。。*/
    font-weight: 500;
}

/* 引用 */
#content blockquote {
    border: none;
}

#content blockquote {
    border-left: 3px solid rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.05);
    color: #6a737d;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#content blockquote p {
    margin: 0px;
    color: black;
    line-height: 26px;
}

/* 加粗 */
#content strong {
    font-weight: bold;
    color: black;
}

/* 斜体 */
#content em {
    font-style: italic;
    color: black;
}

/* 加粗斜体 */
#content em strong {
    font-weight: bold;
    color: black;
}

/* 删除线 */
#content del {
    font-style: italic;
    color: black;
}

/* 分隔线 */
#content hr {
    height: 1px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid black;
}


/* 行内代码 */
#content p code,
#content li code {
    font-size: 14px;
    word-wrap: break-word;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 0 2px;
    color: #1e6bb8;
    background-color: rgba(27, 31, 35, .05);
    font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
    word-break: break-all;
}

/* 图片 */
#content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

/* 图片 */
#content figure {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 图片描述文字 */
#content figcaption {
    margin-top: 5px;
    text-align: center;
    color: #888;
    font-size: 14px;
}


/* 表格 */
#content table {
    display: table;
    text-align: left;
}

#content tbody {
    border: 0;
}

#content table tr {
    border: 0;
    border-top: 1px solid #ccc;
    background-color: white;
}

#content table tr:nth-child(2n) {
    background-color: #F8F8F8;
}

#content table tr th,
#content table tr td {
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: left;
}

#content table tr th {
    font-weight: bold;
    background-color: #f0f0f0;
}

/* 表格最小列宽4个汉字 */
#content table tr th:nth-of-type(n),
#content table tr td:nth-of-type(n) {
    min-width: 85px;
}

#content figure a {
    border: none;
}

#content figure a img {
    margin: 0px;
}

#content figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 图片链接嵌套 */
#content figure a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 图片链接嵌套，图片解释 */
#content figure a+figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -35px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    line-height: 35px;
    z-index: 20;
}