#content pre {
    cursor: text;
    outline: none;
    border-radius: 5px;
    margin-bottom: 1rem !important;
}

#content pre code {
    outline: none;
    display: block;
    /* 代码自动换行 */
    white-space: pre-wrap;
    word-wrap: break-word;
}

#content .language-css .token.string,
#content .style .token.string,
#content .token.entity,
#content .token.operator,
#content .token.url {
    background: none;
}
